# Could just force-add these files and leave this as '*', but this way I have a nice explicit list for documentation sake.
# Ignore everything by default.
*

# Bash stuff (profile just sources bashrc, since it's the only thing sourced
# when a shell is a login shell).
!.bashrc
!.profile
!.bash_aliases

#Pry
!.pryrc

# Git aliases, identification info
!.gitconfig
# The gitignore of this repository itself (!)
!.gitignore

# IRb config
#!.irbrc

#Vimrc
!.vimrc
!./.vim/runinstall.sh

# Aptitude config
!.aptitude
!.aptitude/*

# Screen RCfile
!.screenrc

# Gem config
!.gemrc

!./scripts/*

!bin/*

# Zshell
!.zshrc
!.zprofile
!.oh-my-zsh/*
